[submodule "Veranus/src/utilities"]
	path = Veranus/src/utilities
	url = https://github.com/DBall8/CppUtilities.git
[submodule "Veranus/src/drivers"]
	path = Veranus/src/drivers
	url = https://github.com/DBall8/ArduinoDrivers.git
