[submodule "Veranus/src/utilities"]
	path = VeranusProbe/src/utilities
	url = https://github.com/DBall8/CppUtilities.git
[submodule "Veranus/src/drivers"]
	path = VeranusProbe/src/drivers
	url = https://github.com/DBall8/ArduinoDrivers.git
[submodule "VeranusReceiver/src/utilities"]
	path = VeranusReceiver/src/utilities
	url = https://github.com/DBall8/CppUtilities
[submodule "VeranusReceiver/src/drivers"]
	path = VeranusReceiver/src/drivers
	url = https://github.com/DBall8/ArduinoDrivers
